// https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/

$breakpoint-xs: 320px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

@mixin below($breakpoint) {
  @if $breakpoint != null {
    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
