::selection {
  background-color: $beige;
  color: $blue3;
}

%t-h,
.t-h{
  font-family: 'Bulgeria', serif;
  line-height: 1.25;
  text-transform: uppercase;
  color: $beige
}

.t-h-1 {
  @extend %t-h;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 44px, 160px);
}

.t-h-2 {
  @extend %t-h;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 36px, 64px);
}

.t-h-3 {
  @extend %t-h;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 24px, 36px);
}

%t-body,
.t-body{
  font-family: 'Playfair Display', serif;
  line-height: 1.31;
  color: $beige
}

.t-body-1 {
  @extend %t-body;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 16px, 22px);
}

.t-body-2 {
  @extend %t-body;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 12px, 16px);
}

.t-body-3 {
  @extend %t-body;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 10px, 14px);
  line-height: 1.35;
}

%t-cta,
.t-cta{
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: $beige
}

.t-cta-1 {
  @extend %t-cta;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 20px, 24px);
  line-height: 1.33;
  font-weight: 700;
}

.t-cta-2 {
  @extend %t-cta;
  @include fluid-type($breakpoint-xs, $breakpoint-xl, 14px, 16px);
  line-height: 1.33;
}

